.form {
    div {
        padding: 10px 0;
    }

    button {
        display: block;
        padding: 10px 18px;
        margin: 20px 0;

        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        background-color: #444444;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &::hover {
            background-color: #555555;
        }

        &:active {
            background-color: #666666;
        }
    }

    label {
        &.own-line {
            display: block;
        }

        &.fancy-checkbox {
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding-left: 25px;
            margin-right: 15px;
            font-size: 14px;

            &:before {
                content: "";
                display: inline-block;
             
                width: 16px;
                height: 16px;
             
                margin-right: 10px;
                position: absolute;
                left: 0;
                bottom: 1px;
                background-color: #aaa;
                box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
            }
        }
    }

    input[type=checkbox] {
        display: none;

        &:checked + label:before {
            content: "\2713";
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
            font-size: 15px;
            color: #f3f3f3;
            text-align: center;
            line-height: 15px;
        }
    }

    select {
        font-family: 'Open Sans', sans-serif;
        height: 26px;
        margin-left: 10px;
        font-size: 14px;
        border-radius: 3px;
    }

    input[type=number] {
        width: 50px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        text-align: center;
        margin-right: 10px;
        border: solid 1px #999;
        height: 22px;
        border-radius: 3px;

        &:hover {
            border: solid 1px #777;
        }
    }

    .threshold-hint {
        background-color: #aaa;
        color: white;
        height: 24px;
        padding: 3px 8px;
        border-radius: 3px;
    }
}