.nav {
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    list-style: none;
    
    li {
        float: left;
        margin-bottom: -1px;
        cursor: pointer;

        span {
            display: block;
            padding: 10px 15px;
            color: #555;
            margin-right: 2px;
            line-height: 1.428571429;
            border: 1px solid transparent;
            border-radius: 3px 3px 0 0;
        }

        &.active span {
            color: #000;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }
    }
}

.clear-fix {
    content: " ";
    display: table;
}

.nav:before {
    @extend .clear-fix;
}

.nav:after {
    clear: both;
    @extend .clear-fix;
}