.results {
  background-color: #eeeeee;
  padding: 30px;
  border: 1px solid #dddddd;
  height: 200px;
  overflow-y: auto;

  &.mobile .word i, &.mobile .word i {
    opacity: 1;
  }

  .message {
    padding: 50px;
  }

  .word {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .word-text {
      padding-left: 12px;
    }

    i {
      opacity: 0;
      cursor: pointer;
      margin: 0 5px;
      color: #444;
      width: 16px;

      &.fa-spin {
        opacity: 1;
      }

      &:hover {
        color: #555;
      }

      &:active {
        color: #666;
      }
    }

    &:hover {
      background-color: #fff;

      i {
        opacity: 1;
      }
    }
  }
}