@import './form';
@import './nav';
@import './results';

body {
	font-family: 'Open Sans', sans-serif;
  font-size: 14px;
	margin: 0 40px;
}

h1 {
  padding-top: 20px;
}

img {
  position: absolute;
  height: 200px;
  top: 40px;
  right: 40px;
}

div {
  padding: 10px 0;

  &.no-block {
    display: inline;
  }
}

#random-word {
  height: 50px;
}

.extra-margin {
  padding-right: 10px;
}