{% from 'modes.html' import modes as modes %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Uncann.ly</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">  
    <script src="https://use.fontawesome.com/620c216b67.js"></script>
  </head>
  <body>
    <h1>Uncann.ly</h1>
    <img src={{url_for('static', filename='img/uncannly_logo_transparent.png')}}></img>

    <ul class="nav nav-tabs">
      <li class="mode-nav-item active" id="random-tab"><span>random</span></li>
      <li class="mode-nav-item" id="top-tab"><span>top</span></li>
    </ul>

    {{ modes('random', readme, pool_default, pool_max, max_word_length) }}

    {{ modes('top', readme, pool_default, pool_max, max_word_length) }}
    
    <script>
      window.noWordsMessage = `{{ no_words_message }}`
      window.tooFewMessage = `{{ too_few_message }}`
    </script>

    <script src={{url_for('static', filename='vendor/jquery-3.1.1.min.js')}}></script>
    <script src={{url_for('static', filename='vendor/clipboard.min.js')}}></script>
    <script src={{url_for('static', filename='vendor/FileSaver.min.js')}}></script>

    <script src={{url_for('static', filename='js/responsive.js')}}></script>
    <script src={{url_for('static', filename='js/audio.js')}}></script>
    <script src={{url_for('static', filename='js/helpers.js')}}></script>
    <script src={{url_for('static', filename='js/requestWords.js')}}></script>
    <script src={{url_for('static', filename='js/controls.js')}}></script>
    <script src={{url_for('static', filename='js/randomMode.js')}}></script>
    <script src={{url_for('static', filename='js/topMode.js')}}></script>
    <script src={{url_for('static', filename='js/bothModes.js')}}></script>
  </body>
</html>