{% from 'selection.html' import selection as selection %}
{% from 'scoring.html' import scoring as scoring %}
{% from 'otherOptions.html' import otherOptions as otherOptions %}

{% macro modes(mode, readme, pool_default, pool_max) -%}

<div class="{{ mode }}" style="{{ 'display: none' if mode == 'top' }}">

	{{ selection(mode, readme, pool_default, pool_max) }}
	{{ scoring(mode, readme) }}
	{{ otherOptions(mode, readme) }}

	<button class="refresh">Refresh</button>

	<button id="copy-{{ mode }}" data-clipboard-target="#{{ mode }}">Copy</button>

	<div id="{{ mode }}"></div>

</div>

{%- endmacro %}