{% from 'selection.html' import selection as selection %}
{% from 'scoring.html' import scoring as scoring %}
{% from 'otherOptions.html' import otherOptions as otherOptions %}

{% macro modes(mode, readme, pool_default, pool_max, max_word_length) -%}

<div class="{{ mode }}" style="{{ 'display: none' if mode == 'top' }}">

	<div class="form">
	  {{ selection(mode, readme, pool_default, pool_max) }}
	  {{ scoring(mode, readme) }}
	  {{ otherOptions(mode, readme, max_word_length) }}

	  <button class="refresh">Refresh</button>
  </div>
  
  <div class="results" id="{{ mode }}"></div>

</div>

{%- endmacro %}