{% macro otherOptions(mode, readme, max_word_length) -%}

<div>
	<input type="checkbox" class="unweighted" id="{{ mode }}-unweighted">
	<label 
	  class="fancy own-line"
		title="{{ readme.unweighted }}" 
		for="{{ mode }}-unweighted"
	>
		unweighted
	</label>

	<input type="checkbox" class="unstressed" id="{{ mode }}-unstressed">
	<label 
		class="fancy own-line"
		title="{{ readme.unstressed }}" 
		for="{{ mode }}-unstressed"
	>
		unstressed
	</label>

	<input type="checkbox" class="exclude-real" id="{{ mode }}-exclude-real">
	<label 
		class="fancy own-line"
		title="{{ readme.exclude_real }}" 
		for="{{ mode }}-exclude-real"
	>
		exclude real
	</label>
</div>

<div>
	<input type="checkbox" class="ignore-position" id="{{ mode }}-ignore-position">
	<label 
		class="fancy own-line"
		title="{{ readme.ignore_position }}" 
		for="{{ mode }}-ignore-position"
	>
		ignore position
	</label>

	<input type="checkbox" class="ignore-length" id="{{ mode }}-ignore-length">
	<label 
		class="fancy own-line"
		title="{{ readme.ignore_length }}" 
		for="{{ mode }}-ignore-length"
	>
		ignore length
	</label>

	<label 
    title="{{ readme.min_length }}"
    class="extra-margin"
  >
    <input 
      type="number" 
      max="{{ max_word_length }}" 
      min="1" 
      step="1" 
      class="min-length" 
    >minimum length
  </label>

  <label 
    title="{{ readme.max_length }}"
  >
    <input 
      type="number" 
      max="{{ max_word_length }}" 
      min="1" 
      step="1" 
      class="max-length" 
    >maximum length
  </label>

</div>

{%- endmacro %}