{% from 'basicOption.html' import basicOption as basicOption %}

{% macro otherOptions(mode, readme, max_word_length) -%}

<div>
	{{ basicOption(mode, readme, 'unweighted') }}
	{{ basicOption(mode, readme, 'unstressed') }}
	{{ basicOption(mode, readme, 'exclude-real') }}
</div>

<div>

	{{ basicOption(mode, readme, 'ignore-position') }}
	{{ basicOption(mode, readme, 'ignore-length') }}

	<label 
    title="{{ readme.min_length }}"
    class="extra-margin"
  >
    <input 
      type="number" 
      max="{{ max_word_length }}" 
      min="1" 
      step="1" 
      class="min-length" 
    >minimum length
  </label>

  <label 
    title="{{ readme.max_length }}"
  >
    <input 
      type="number" 
      max="{{ max_word_length }}" 
      min="1" 
      step="1" 
      class="max-length" 
    >maximum length
  </label>

</div>

{%- endmacro %}