{% macro selection(mode, readme, pool_default, pool_max) -%}

<label 
  title="{{ readme.pool }}"
>
  <input 
    type="number" 
    max="{{ pool_max }}" 
    min="1" 
    step="1" 
    class="pool" 
    value="{{ pool_default }}"
  >pool
</label>
<label 
  title="{{ readme.random_selection if mode == 'top' else readme.top_selection }}"
  class="own-line"
>
  <input 
    type="checkbox" 
    class="selection"
  >{{ 'random' if mode == 'top' else 'top' }} selection
  <input 
    type="number" 
    min="1" 
    max="{{ pool_default }}"
    step="1" 
    class="selection-value" 
    value="10"
    disabled
  >
</label>
<div class="scoring-method" title="{{ readme.scoring_method }}">
  scoring by
  <select 
    {{ 'disabled' if mode == 'random' }} 
    name="{{ mode }}-scoring-method"
  >
    <option value="integral-product">integral product</option>
    <option value="integral-sum">integral sum</option>
    <option value="mean-geometric">mean geometric</option>
    <option value="mean-arithmetic">mean arithmetic</option>
  </select>
</div>

{%- endmacro %}